<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.news.dao.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.jason.news.dao.vo.News">
        <id column="news_id" jdbcType="VARCHAR" property="newsId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="reply_num" jdbcType="INTEGER" property="replyNum"/>
        <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="del_flg" jdbcType="BIT" property="delFlg"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jason.news.dao.vo.News">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="Base_Column_List">
        news_id, title, cover, reply_num, community_id, del_flg, create_user, create_time,
        update_user, update_time
    </sql>

    <sql id="Blob_Column_List">
        content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cs_news_news
        where news_id = #{newsId,jdbcType=VARCHAR}
    </select>

    <select id="findByNewsId" resultMap="ResultMapWithBLOBs">
        SELECT *
        FROM cs_news_news
        WHERE del_flg = 0
          AND news_id = #{newsId}
    </select>

    <select id="findAll" resultType="com.jason.news.api.dto.NewsDTO">
        SELECT
        nn.news_id AS newsId,
        nn.title AS title,
        nn.content AS content,
        nn.cover AS cover,
        nn.reply_num AS replyNum,
        nn.community_id AS communityId,
        nn.del_flg AS delFlg,
        nn.create_user AS createUser,
        nn.create_time AS createTime,
        nn.update_user AS updateUser,
        nn.update_time AS updateTime
        FROM
        cs_news_news AS nn
        WHERE
        nn.del_flg = 0
        <if test='communityId != null and communityId != ""'>
            AND community_id = #{communityId}
        </if>
        ORDER BY nn.create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cs_news_news
        where news_id = #{newsId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.jason.news.dao.vo.News">
        insert into cs_news_news (news_id, title, cover,
                                  reply_num, community_id, del_flg,
                                  create_user, create_time, update_user,
                                  update_time, content)
        values (#{newsId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR},
                #{replyNum,jdbcType=INTEGER}, #{communityId,jdbcType=VARCHAR}, #{delFlg,jdbcType=BIT},
                #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.jason.news.dao.vo.News">
        insert into cs_news_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsId != null">
                news_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="replyNum != null">
                reply_num,
            </if>
            <if test="communityId != null">
                community_id,
            </if>
            <if test="delFlg != null">
                del_flg,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsId != null">
                #{newsId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="replyNum != null">
                #{replyNum,jdbcType=INTEGER},
            </if>
            <if test="communityId != null">
                #{communityId,jdbcType=VARCHAR},
            </if>
            <if test="delFlg != null">
                #{delFlg,jdbcType=BIT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jason.news.dao.vo.News">
        update cs_news_news
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="replyNum != null">
                reply_num = #{replyNum,jdbcType=INTEGER},
            </if>
            <if test="communityId != null">
                community_id = #{communityId,jdbcType=VARCHAR},
            </if>
            <if test="delFlg != null">
                del_flg = #{delFlg,jdbcType=BIT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where news_id = #{newsId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jason.news.dao.vo.News">
        update cs_news_news
        set title        = #{title,jdbcType=VARCHAR},
            cover        = #{cover,jdbcType=VARCHAR},
            reply_num    = #{replyNum,jdbcType=INTEGER},
            community_id = #{communityId,jdbcType=VARCHAR},
            del_flg      = #{delFlg,jdbcType=BIT},
            create_user  = #{createUser,jdbcType=VARCHAR},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_user  = #{updateUser,jdbcType=VARCHAR},
            update_time  = #{updateTime,jdbcType=TIMESTAMP},
            content      = #{content,jdbcType=LONGVARCHAR}
        where news_id = #{newsId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jason.news.dao.vo.News">
        update cs_news_news
        set title        = #{title,jdbcType=VARCHAR},
            cover        = #{cover,jdbcType=VARCHAR},
            reply_num    = #{replyNum,jdbcType=INTEGER},
            community_id = #{communityId,jdbcType=VARCHAR},
            del_flg      = #{delFlg,jdbcType=BIT},
            create_user  = #{createUser,jdbcType=VARCHAR},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_user  = #{updateUser,jdbcType=VARCHAR},
            update_time  = #{updateTime,jdbcType=TIMESTAMP}
        where news_id = #{newsId,jdbcType=VARCHAR}
    </update>
</mapper>