<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.member.dao.mapper.AccountDetailMapper">

    <resultMap id="BaseResultMap" type="com.jason.member.dao.vo.AccountDetail">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="constellation" jdbcType="INTEGER" property="constellation"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="del_flg" jdbcType="BIT" property="delFlg"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, sex, birthday, constellation, address, del_flg, create_user, create_time,
    update_user, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cs_member_account_detail
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cs_member_account_detail
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.jason.member.dao.vo.AccountDetail">
        insert into cs_member_account_detail (id, account_id, sex,
                                              birthday, constellation, address,
                                              del_flg, create_user, create_time,
                                              update_user, update_time)
        values (#{id,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{sex,jdbcType=BIT},
                #{birthday,jdbcType=TIMESTAMP}, #{constellation,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
                #{delFlg,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.jason.member.dao.vo.AccountDetail">
        insert into cs_member_account_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="constellation != null">
                constellation,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="delFlg != null">
                del_flg,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BIT},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="constellation != null">
                #{constellation,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="delFlg != null">
                #{delFlg,jdbcType=BIT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jason.member.dao.vo.AccountDetail">
        update cs_member_account_detail
        <set>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="constellation != null">
                constellation = #{constellation,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="delFlg != null">
                del_flg = #{delFlg,jdbcType=BIT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jason.member.dao.vo.AccountDetail">
        update cs_member_account_detail
        set account_id    = #{accountId,jdbcType=VARCHAR},
            sex           = #{sex,jdbcType=BIT},
            birthday      = #{birthday,jdbcType=TIMESTAMP},
            constellation = #{constellation,jdbcType=INTEGER},
            address       = #{address,jdbcType=VARCHAR},
            del_flg       = #{delFlg,jdbcType=BIT},
            create_user   = #{createUser,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_user   = #{updateUser,jdbcType=VARCHAR},
            update_time   = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>